@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    height: 100vh;
}




nav {
    background-color: #333;
    color: #36b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    padding: 0 20px;
}

nav p {
    font-size: 24px;
    
}

ul {
    display: flex;
    gap: 20px;

}

main {
    background-color: #36b;
    display: flex;
    align-items: center;
    height: 85%;
    text-align: justify;
    gap: 30px;
    padding: 0 30px;
    color: ivory;
    justify-content: center;
    line-height: 1.6;
    flex-direction: column;
}

figure img {
    border-radius: 5%;

}
figcaption{
    
    display: none;
    
}
footer{
    background-color: #333;
    color: #36b;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;

}
footer p{
    font-size: 30px;
    
}
.welcome{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
/* Mobile (Phone)
@media(max-width: 600px) {
    body {
        font-size: small;
        flex-direction: column;
    }
    nav {
        font-size: 18px;
        flex-direction: column;
    }
    ul {
        flex-direction: column;

    }
    main {
        font-size: 16px;
        flex-direction: column;
    }
}


@media (min-width: 600px) and (max-width: 900px) {
    
    nav {
        font-size: 20px;
        flex-direction: column;
    }
    main {
        font-size: 18px;
        flex-direction: column;
    }
    body {
        font-size: medium;
        flex-direction: column;
    }
}


@media (min-width: 900px) {
    
    body {
        font-size: large;
        flex-direction: coloum;
    }
    nav {
        font-size: 24px;
        flex-direction: column;
    }
    main {
        font-size: 20px;
        flex-direction: column;
        
    }
    
} */
@media  (max-width:750px){
    .welcome{
        flex-direction: column;
    }
}
    


